.service__item {
    padding: .8rem;
    display: flex;
    user-select: none;
    align-items: center;
    gap: .5rem;
    border-radius: 5px;
    cursor: pointer;

    & span i{
        font-size: 1rem;
        background-color: black;
        padding: 1rem;
        border-radius: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400 !important;
    }

    & h3 {
        color: black;
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    & p {
        font-size: .8rem;
        margin: 5px 0 0 0;
        color: #222;
    }
}
