
.sticky__header {
    width: 100%;
    height: 8vh;
    line-height: 50px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px -3px #ddd;
    background-color: #fff;
    user-select: none;
    & .nav__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        & .logo {
            display: flex;
            align-items: center;
            column-gap: 8px;

            & img {
                width: 1.5rem;
            }

            & h1 {
                font-size: 1rem;
                font-weight: 700;
                margin: 0;
                color: black
            }
        }

        & .menu {
            display: flex;
            align-items: center;
            column-gap: 2.7rem;
            margin-bottom: 0;

            & .nav__item {
                font-weight: 500;
            }


        }

        & .nav__active {
            background-color: red !important;
        }

        & .nav__icons {
            display: flex;
            align-items: center;
            column-gap: 1.4rem;

            & .cart__icon, .fav__icons {
                position: relative;
                & .badge {
                    z-index: 10;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    top: 35%;
                    right: -30%;
                    content: "";
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: .7rem;
                    background-color: black;
                    color: white;
                }
            }


            & .profile{
                color: black;
                position: relative;
                z-index: 9;
                & i{
                   cursor: pointer;
                    font-size: 1.4rem;
                    color: black;
                }

                & img {
                    cursor: pointer;
                    width: 2rem;
                }
            }
        }

        & .mobile__menu {
            font-size: 1.3rem;
            display: none;
        }
    }
    
    & a {
        color: black;
        font-weight: 400;
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            color: purple;
        }
    }
}


.icon__img {
    border-radius: 50%;
}

.profile__actions {
    position: absolute;
    top: 20%;
    left: 150%;
    width: 150px;
    z-index: 10;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    cursor: pointer;

    & a {
        margin-left: 1rem;
    }
}


